/* Headings */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: clamp(2rem, 2.5vw, 3rem);
}
h2 {
  font-size: clamp(1.7rem, 2.5vw, 2.5rem);
}
h3 {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}

/* Non Headings */
a,
button,
li,
p {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  line-height: 1.2;
}
